.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.2s;
}

.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.trigger-enter-active,
.trigger-leave-active {
  transition: opacity 0.2s;
}

.trigger-enter,
.trigger-leave-active {
  opacity: 0;
}

html,
body {
  background-color: #303030;
}

.left-border-primary {
  border-left: 3px solid  #536dfe !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.top-right {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
}

.fullwidth {
  width: 100%;
}